<div class="mt-30"></div>
{loop $items $item}

<div class="col-md-4 col-sm-6 col-lg-3">
              <div class="card">
                <a href="{$item[url]}"><img style="width:100%" src="{get_4x3($item['thumb'])}" alt=""></a>
                <div class="card-heading">
                  <a href="{$item[url]}"><strong>{$item[title]}</strong></a>
                </div>
                <div class="card-actions">
                  <i class="icon-eye-open"></i> {$item['hits']}
                  <span class="text-muted">&nbsp;&nbsp;{$item[posttime]}</span>
                </div>
              </div>
            </div>
            {/loop}
           <div class="clearfix"></div>