{loop $items $item}
<div class="item">
              <div class="item-heading text-primary">
              
                <h4><a style="color:{$item[color]}" href="{$item[url]}">{$item[title]}</a>{if $item['new']}&nbsp; <span class="label label-warning">New</span>{/if}</h4>
              </div>

              <div class="item-footer">
              
                <span class="text-muted"><i class="icon-time"></i> {$item[posttime]}</span>
                <span class="text-muted"><i class="icon-eye-open"></i> {$item['hits']}</span>
                
              </div>
            </div>
            {/loop}