<div >
        <div class="comments">
          <header>
            
            <h3><i class="icon-comments icon-border-circle"></i> {$sum} {l('评论')}</h3>

          </header>
          <div class="mt-10"></div>
          <section class="comments-list">
           {loop $items $item}
           
            <div class="comment">
              <a href="javascript:void(0)" class="avatar"><i class="icon-user icon-border icon-2x icon-muted"></i></a>
              <div class="content">
                <div class="pull-right"><span class="text-muted">{$item['posttime']}</span> &nbsp;<strong>#{$item['lou']}</strong></div>
                <span class="author">
                  <a href="javascript:void(0)" onclick="if(confirm('确定要清空该用户?')) aya_get('?action=comment_del&channelid={$channelid}&in_module=1&author={$item['author']}')"><strong>{html($item['author'])}</strong></a>
                </span>

                <div class="text">
                  {html($item['content'])}
                </div>
<div class="actions">
<input name="posts[ids][]" type="checkbox" value="{$item['itemid']}" />
                  <a style="color:{$item[color]}" href="?action=comment_edit&channelid={$channelid}&in_module=1&itemid={$item[itemid]}">edit</a>
                  <a href="javascript:void(0)" onclick="if(confirm('确定要删除吗?')) aya_get('?action=comment_del&channelid={$channelid}&in_module=1&itemid={$item[itemid]}')" style="color:red">delete</a>
                  by:<a href="{AYA_URL}{$c_path}?itemid={$item[itemid]}" target="_blank">{$item['title']}</a>
                  
                </div>
              </div>
            </div>
            {/loop}
            
          </section>
          <footer>
          <div class="mt-20"></div>
            
          </footer>
        </div>
      </div>
      
      <script type="text/javascript">
	  
 $(function(){
$('#comment_content').focus(function()
{ 
if(!$('#comment_checkcode_box').html()){
$('#comment_checkcode_box').html('<input type="text" id="comment_checkcode" name="posts[checkcode]" class="form-control" placeholder="<?php echo l('请输入验证码')?>" />');
$('#comment_checkcode_img').html('<a href="javascript:comment_checkcode()"><img style="height:32px" class="img-rounded" src="<?php echo AYA_URL?>checkcode.php" id="__checkcode"/></a>');
}
})
 });	  


function comment_checkcode(){
$('#__checkcode').attr('src','<?php echo AYA_URL?>checkcode.php?'+Math.random());
$("#comment_checkcode").focus();
}
</script> 