{template 'header'}
<div id="side_box" class="side_box">{tag 'side_set'}</div>
<div class="main_box_w">
  <div id="main_box" class="main_box">
    <div class="col-md-12">
      <form class="form-horizontal" role="form" id="{random()}" action="{$pca}"
	method="post" onsubmit="aya_post(this.id);return false;">
    <legend>积分</legend>
    
        <div class="form-group">
          <label class="col-md-2 control-label required">发表信息增加{l('aya_a')}</label>
          <div class="col-md-2">
            <input type="text" name="posts[add_a]" id="add_a" value="{$add_a}" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label required">发表信息增加{l('aya_b')}</label>
          <div class="col-md-2">
            <input type="text" name="posts[add_b]" id="add_b" value="{$add_b}" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label required">发表信息增加{l('aya_c')}</label>
          <div class="col-md-2">
            <input type="text" name="posts[add_c]" id="add_c" value="{$add_c}" class="form-control">
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-md-offset-2 col-md-9">
            <button type="submit" class="btn btn-primary">提交</button>
			<button type="reset" class="btn btn-default">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
	$("#aya_a").focus(); 
</script> 
{template 'footer'}