{template 'header'}
<div id="side_box" class="side_box">{tag 'side_ust'}</div>
<div class="main_box_w">
	<div id="main_box" class="main_box">
		<div class="col-md-12">
			<legend>说明</legend>
			<form class="">
				<div class="form-group">
					<label class="control-label">栏目</label>
					<div class="help-block">栏目的创建和维护</div>
				</div>

				<div class="form-group">
					<label class="control-label">文本</label>
					<div class="help-block">文本的创建和维护,供DIY调用.如:联系方式,个人简介</div>
				</div>

				<div class="form-group">
					<label class="control-label">图片</label>
					<div class="help-block">图片的创建和维护,供DIY调用. 如:幻灯片</div>
				</div>

				<div class="form-group">
					<label class="control-label">链接</label>
					<div class="help-block">链接的创建和维护,供DIY调用. 如:友情链接,站内导航</div>
				</div>

				<div class="form-group">
					<label class="control-label">视频</label>
					<div class="help-block">视频的创建和维护,供DIY调用. 如:公司视频,活动视频</div>
				</div>

				<div class="form-group">
					<label class="control-label">投票</label>
					<div class="help-block">投票的创建和维护,供DIY调用.如:满意调查</div>
				</div>

				<div class="form-group">
					<label class="control-label">表单</label>
					<div class="help-block">表单模板创建和维护,供标签调用.</div>
				</div>

				<div class="form-group">
					<label class="control-label">数据库</label>
					<div class="help-block">数据库的管理. 如:备份,还原</div>
				</div>


			</form>


		</div>
	</div>
</div>
<script type="text/javascript">
	
</script>
{template 'footer'}
