 {template 'header'}
<layer>
<layeritem>
<div class="row">
	<div class="col-md-12">
		<diy>
<diyitem>{diy 'carousel','itemid=1&height=360px&box_class=mb-20'}</diyitem></diy>
	</div>
</div>
</layeritem>
<layeritem>
			<div class="row">
			<div class="col-md-12">
<diy>
<diyitem>{diy 'picture_thumb','channelid=3&line=1&number=6&page=1'}</diyitem></diy>
</div>
			</div>
			</layeritem>
<layeritem>
<div class="row">
	<div class="col-md-6">
		<layer> <layeritem>
		<div class="row">
			<div class="col-md-6">
				<diy>
<diyitem>{diy 'article_title','channelid=1&number=9&page=1'}</diyitem></diy>
			</div>
			<div class="col-md-6">
				<diy>
<diyitem>{diy 'article_textpic','channelid=1&number=1&page=3'}</diyitem></diy>
			</div>
		</div>
		</layeritem></layer>
	</div>
	<div class="col-md-6">
		<layer> <layeritem>
		<div class="row">
			<div class="col-md-6">
				<diy>
<diyitem>{diy 'article_thumb','channelid=1&line=2&number=2&page=2'}</diyitem></diy>
			</div>
			<div class="col-md-6">
				<diy>
<diyitem>{diy 'article_title','channelid=1&number=9&page=2&date=1'}</diyitem></diy>
			</div>
		</div>
		</layeritem></layer>
	</div>
</div>
</layeritem>
<layeritem>
<div class="row">
	<div class="col-md-12">
		<diy>
<diyitem>{diy 'pic','itemid=1&number=6'}</diyitem>
<diyitem>{diy
		'article_textpic','channelid=1&number=3&page=1'}</diyitem></diy>
	</div>
</div>
</layeritem></layer>

<layer></layer>

{template 'footer'}
