</div>
</div>

<div class="footer">
	<div class="boxed">
		<div class="wraptotop">

			<a href="javascript:"
				onclick="$('body,html').animate({scrollTop:0},1000);" class="totop"><i
				class="icon-chevron-up"></i></a>


		</div>
		<layer>
<layeritem>
		<div class="row">
			<div class="col-md-4">
				<diy>
<diyitem>{diy 'book_form','box_title=留言'}</diyitem></diy>
			</div>
			<div class="col-md-4">
				<diy>
<diyitem>{diy 'poll','itemid=1&box_title=调查'}</diyitem></diy>
			</div>
			<div class="col-md-4">
				<diy>
<diyitem>{diy 'text','itemid=1,2&box_title=反馈'}</diyitem></diy>
			</div>
		</div>
		</layeritem></layer>
	</div>
</div>

<div class="footer_bottom">
	<div class="boxed">

		<div class="row">
			<div class="col-md-4">
				<div class="copyright">
					<span class="copyright">© </span> Copyright 2015 {$CFG[title]}.
					Powered by <a href="http://www.ayacms.com" title="{$CFG[title]}">AYACMS</a>
					{timer_end()}
				</div>
			</div>
			<div class="col-md-8">
				<diy>
<diyitem>{diy 'link_text','itemid=1&number=5&text_align=right&color=#999&linkcolor=#eee&bold=1&blank=1'}</diyitem></diy>
			</div>


		</div>
	</div>

</div>
</div>
</body>
</html>