{template 'header'}
<div class="row">
  <div class="col-md-2"> </div>
  <div class="col-md-8">
    <form class="form-horizontal" id="{random()}" action="?sign={$sign}"
	method="post" autocomplete="off"
	onsubmit="aya_post(this.id);return false;">
	
	<?php if($sign){?>
	<legend>{l('新密码')}</legend>
	<div class="form-group">
        <label class="col-md-2 control-label required">{l('新密码')}</label>
        <div class="col-md-4">
          <input type="password" name="posts[password]" id="password" value="" class="form-control">
        </div>
      </div>
	<?php }else{?>
      <legend>{l('找回密码')}</legend>
      <div class="form-group">
        <label class="col-md-2 control-label required">{l('用户名')}</label>
        <div class="col-md-4">
          <input type="text" name="posts[name]" id="name" value="" class="form-control">
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-2 control-label required">{l('验证码')}</label>
        <div class="col-md-4">
         <input type="text"  id="checkcode" name="posts[checkcode]" class="form-control" placeholder="{l('请输入验证码')}" />
         <div class="help-block">
<a href="javascript:checkcode()"><img src="{AYA_URL}checkcode.php" id="_checkcode"/></a>
</div>
        </div>
      </div>
      <?php }?>
      
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" class="btn btn-primary" value="{l('提交')}" />
            <input type="reset" class="btn btn-default" value="{l('重置')}" />
            <?php if(!$sign){?>
            <p class="help-block"> {l('提交成功后,请登陆您注册时填写的邮箱,查阅邮件.')}</p>
            <?php }?>
            
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2"> </div>
</div>
<script type="text/javascript">
function checkcode(){
$('#_checkcode').attr('src','{AYA_URL}checkcode.php?'+Math.random());
$("#checkcode").focus();
}
$("#name").focus();
</script>


{template 'footer'}