{template 'header'}
<style>
.level .icon-star{
	font-size: 16px;
	color: #F60;
}
</style>
<div class="row">
  <div class="col-md-2">
  
  </div>
  <div class="col-md-10">
  {tag 'pathnav'}
  <div class="mt-20"></div>
  

 <div class="list">
          <header>
            <h3><i class="icon-list-ul icon-border-circle"></i> {html($tag)} &nbsp;<small> 共找到 {$sum} 条信息</small></h3>
          </header>
          <section class="items items-hover">
            {template 'tag_list_1'}
          </section>
          
          <div class="mt-20"></div>

           {$pages} 
        </div>
  
  </div>
</div>


{template 'footer'}